/* CSS Document */


*{
    font: "Segoe";
    
}



#topcontainer {
    padding: 10 0 10 60;
    z-index: 1!important;
    position: relative;
}

#background {
    z-index: 0;
    background-image: url('../img/bg.jpg');
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: -150 90;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: fixed;
}


#footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#login {
    position: fixed;
    top: 25%;
    left: 28%;
    width: 700px;
    height: 400px;
    z-index: 3!important;
    padding: 16;
    margin-top: auto;
    background-color: rgba(241,241,241,0.70);
    font-family: "Segoe UI";
    font-size: 20px;
}



#loginforums {

        margin: 5px;

}

#loginforums input {
    margin: 10px;
    width: 28%;
}

#content {
    width: 90%;
    height: 800px;
    background-color: rgba(255,255,255,0.74)!important;
    position: relative;
    z-index: 3!important;
    margin: 15 auto;
    padding: 10px;
    

}

.accounts {
    margin-left: 2.5%;
    width: 70%;
    z-index: 4!important;
    height: 100%;
    position: relative;
    margin-top: 0 auto!important;
    padding:20!important;
}

hr {
    border-color: rgba(191,191,191,1.00); 
}

.transactions {
    width: 20%;
    float: right;
    position: relative;
    padding: 20px;
    margin-left: 12px;
    height: 100%;
    margin-right:2.5%;
}

.accountList {
    width: 100%;
    height: 30%;
    padding: 10px;
}

th {
    border: 1px solid #000;
}
.information{
    padding: 10px!important;
    margin: 5px;
    width: 32%;
}
div.tips{
    padding: 10px;
    width: 100%;
}
span.tips {
    padding: 3px;

}

.tableAmmount {
    padding: 3px!important;
    float:right;
}

.transactionComapny {
    margin: 3px!important;float:left;
}

.transfers {
    padding: 16px;
}
