/* CSS Document */


*{
    font: "Segoe";
}

#topcontainer {
    padding: 10 0 10 60;
    z-index: 1!important;
    position: relative;
}

#background {
    z-index: 0;
    background-image: url('../img/bg.jpg');
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: -150 90;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: fixed;
}


#footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#login {
    position: fixed;
    top: 25%;
    left: 28%;
    width: 700px;
    height: 400px;
    z-index: 3!important;
    padding: 16;
    margin-top: auto;
    background-color: rgba(241,241,241,0.70);
    font-family: "Segoe UI";
    font-size: 20px;
}



#loginforums {

        margin: 5px;
    
}

#loginforums input {
    margin: 10px;
    width: 28%;
}
